<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        pre {
            display: none;
        }
        
        .note {
            height: 80%;
            width: 100%;
            position: fixed;
            bottom: 0;
        }
        
        #content {
            height: 20%;
            width: 100%;
            position: fixed;
            top: 0;
            overflow: auto;
        }
        
        #NoteName {
            position: fixed;
        }
    </style>
    <title>{{ name }}</title>
    
</head>

<body>
    <div id="content">
    </div>
    <textarea class="note" id="note" placeholder="Input..." spellcheck="false" autocomplete="off" oninput="onInput()"
                                                                                                                            autofocus>{{ content }}</textarea>
    <script>
        var ws = new WebSocket("{{ ws_url }}");
        var content = document.querySelector("#content");
        var note = document.title;
        content.innerHTML = document.querySelector("#note").value;
        function onInput(event) {
            const textinput = document.querySelector("#note");
            const data = textinput.value;
            const msg = note + ":=:" + data;
            ws.send(msg);
            content.innerHTML = data;
        }
    </script>
    
</body>

</html>