<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
        .note {
            height: 50%;
            width: 100%;
            position: fixed;
            top: 5px;
        }
        
        #content {
            height: 45%;
            width: 100%;
            position: fixed;
            bottom: 0;
        }
        
        #NoteName {
            position: fixed;
        }
    </style>
    <title>{{ name }}</title>
    
</head>

<body>
    <textarea class="note" id="note" placeholder="Input..." spellcheck="false" autocomplete="off" oninput="onInput()"
                                                                                                                            autofocus>{{ content }}</textarea>
    <br>
    <div id="content">
        <div>
            {{ content }}
        </div>
    </div>
    <script>
        var ws = new WebSocket("{{ ws_url }}");
        var content = document.querySelector("#content");
        var note = document.title;
        ws.onmessage = function (event) {
            value = event.data;
            content.innerHTML = value;
        }
        function onInput(event) {
            const data = event.target.value;
            const msg = {
                name: note,
                content: data
            };
            ws.send(JSON.stringify(msg));
        }
    </script>
    
</body>

</html>